#statusBadge {
  &.da-correggere {
    background-color: #ffa72c;
  }
  &.corretto {
    background-color: #4bb543;
  }
}

.wrong {
  border-bottom: 4px solid #ff4c4c;
}
.correct {
  border-bottom: 4px solid #4bb543;
}
.open {
  border-bottom: 4px solid #ffa72c;
}
.empty {
  border-bottom: 4px solid #a6a6a6;
}
.selected {
  transform: scale(1.2);
  background-color: var(--bs-primary);
  color: white;
}
.btnSelectQuestion {
  width: 40px;
}
