<div
  class="syllex-banner position-relative overflow-hidden rounded-4 p-5 d-flex align-items-center bg-primary"
  [ngClass]="bgClass"
  [style.backgroundImage]="bgImage ? 'url(' + bgImage + ')' : ''"
  [style.backgroundSize]="bgSize"
  [style.backgroundPosition]="bgPosition"
  [style.backgroundRepeat]="'no-repeat'"

>
  <div class="banner-content z-2 position-relative">
    <h2 class="fs-2 text-white mb-3 w-md-50 w-100">{{ title }}</h2>
    <p class="fs-5 text-white opacity-75 mb-4">{{ description }}</p>

    @if (buttonLink) {
    <button
      class="btn btn-secondary fw-normal fs-6 btn-lg hover-lift"
      [routerLink]="buttonLink"
    >
      {{ buttonText }}
    </button>
    }
  </div>

  <!-- Decorazione astratta/sfondo -->
  <div
    class="banner-decoration z-1 position-absolute end-0 top-0 h-100 w-50 d-none d-md-block"
  >
    <ng-content></ng-content>
  </div>
</div>
