.card-value {
  font-size: 3.5rem;
  font-weight: bold;
}

.card-description {
  font-size: 0.875rem;
  text-align: center;
}

.percentage {
  font-size: 1.5rem;
  opacity: 0.5;
}

.stat-link {
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.875rem;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }
}
