<div class="h-100 w-100 card sidebar">
  <div
    class="sidebar-header d-flex align-items-center justify-content-center gap-2 mt-5 px-4"
  >
    <img
      src="/images/logo_primary_extended.png"
      alt="Syllex Logo"
      class="logo-extended"
      routerLink="/t/dashboard"
    />
    <img
      src="/images/logo_primary.png"
      alt="Syllex Logo"
      class="logo-slim"
      routerLink="/t/dashboard"
    />
  </div>

  <div class="w-100 px-3 py-4 d-flex flex-column h-100">
    <div id="mainRoutes" class="d-flex flex-column gap-2 flex-fill mt-4">
      @for(route of mainRoutes; track $index){
      <!-- 
      <app-syllex-button
        [props]="{
            label: route.label,
            variant: 'primary',
            size: 'medium',
            link: route.path,
          }"
      ></app-syllex-button> -->
      <div
        class="sidebarRoute w-100 gap-2 d-flex py-3 px-4 align-items-center"
        [routerLink]="route.path"
        routerLinkActive="active"
        [tourAnchor]="route.tourAnchor || ''"
      >
        <fa-icon [icon]="route.icon"></fa-icon>
        <span class="routeLabel slim-hide">{{route.label}}</span>
      </div>
      }
    </div>
    <!-- Help chat button -->

    <div
      class="btn text-start ai ai-sidebar-btn d-flex flex-row align-items-center justify-content-between position-relative"
      routerLink="/t/laboratorio-ai"
      tourAnchor="teacher-ai-lab"
    >
      <fa-icon
        [icon]="HeadSideBrainIcon"
        [size]="'xs'"
        class="ai-deco lab-ai-deco me-2"
      ></fa-icon>
      <h5 class="mb-0 position-relative lab-ai-label slim-hide">Lab AI</h5>
    </div>
    <div
      class="btn text-start ai ai-sidebar-btn d-flex flex-row align-items-center justify-content-between position-relative"
      routerLink="/t/agente"
      tourAnchor="teacher-agent"
    >
      <fa-icon
        [icon]="SparklesIcon"
        [size]="'xs'"
        class="ai-deco chat-ai-deco me-2"
      ></fa-icon>
      <div
        class="d-flex align-items-center gap-2 position-relative pe-4 slim-hide"
      >
        <h5 class="mb-0 chat-ai-label">Chat AI</h5>
        <a
          class="text-white opacity-50 p-0"
          style="font-size: 1.1rem; line-height: 1"
          [routerLink]="['/t/agente']"
          [queryParams]="{step: 1}"
          (click)="$event.stopPropagation()"
        >
        </a>
      </div>
    </div>

    <app-help-chat></app-help-chat>
  </div>
</div>
