<div class="h-100 w-100 card sidebar">
  <div
    class="sidebar-header d-flex align-items-center justify-content-center gap-2 mt-5 px-4"
  >
    <img
      src="/images/logo_primary_extended.png"
      alt="Syllex Logo"
      class="logo-extended"
      routerLink="/t/dashboard"
    />
    <img
      src="/images/logo_primary.png"
      alt="Syllex Logo"
      class="logo-slim"
      routerLink="/t/dashboard"
    />
  </div>

  <div class="w-100 px-3 py-4 d-flex flex-column h-100">
    <div id="mainRoutes" class="d-flex flex-column gap-2 flex-fill mt-4">
      @for(route of mainRoutes; track $index){
      <!-- 
      <app-syllex-button
        [props]="{
            label: route.label,
            variant: 'primary',
            size: 'medium',
            link: route.path,
          }"
      ></app-syllex-button> -->
      <div
        class="sidebarRoute w-100 gap-2 d-flex py-3 px-4 align-items-center"
        [routerLink]="route.path"
        routerLinkActive="active"
        [tourAnchor]="route.tourAnchor || ''"
      >
        <fa-icon [icon]="route.icon"></fa-icon>
        <span class="routeLabel slim-hide">{{route.label}}</span>
      </div>
      }
    </div>
    <!-- Help chat button -->

    <div
      class="btn text-start ai ai-sidebar-btn px-4 py-3 d-flex flex-row align-items-center justify-content-between position-relative"
      routerLink="/t/laboratorio-ai"
      tourAnchor="teacher-ai-lab"
    >
      <p class="mb-0 position-relative lab-ai-label slim-hide fs-5 fw-bold">
        Lab AI
      </p>
      <fa-icon
        [icon]="HeadSideBrainIcon"
        class="ai-deco lab-ai-deco me-2 fs-4"
      ></fa-icon>
    </div>
    <div
      class="btn text-start ai ai-sidebar-btn px-4 py-3 d-flex flex-row align-items-center justify-content-between position-relative"
      routerLink="/t/agente"
    >
      <p class="mb-0 position-relative chat-ai-label slim-hide fs-5 fw-bold">
        Chat AI
      </p>
      <fa-icon
        [icon]="SparklesIcon"
        class="ai-deco chat-ai-deco me-2 fs-4"
      ></fa-icon>
    </div>
  </div>
</div>
