<h5 class="text-primary fw-bold text-start">🔑 Recupera password</h5>
@switch (currentStepIndex.value) { @case (0){
<form
  [formGroup]="sendEmailForm"
  (ngSubmit)="hasResult = null; onSendEmail()"
  class="d-flex flex-column gap-3"
>
  <p class="text-primary fw-light">
    Inserisci la email con la quale normalmente accedi a syllex, ti invieramo
    una email con un codice
  </p>

  <div class="mb-4">
    <label for="email" class="form-label fw-semibold text-primary">Email</label>
    <input
      type="text"
      class="form-control custom-input"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <button
    type="submit"
    class="btn btn-secondary btn-lg w-100"
    [disabled]="sendEmailForm.invalid"
  >
    <fa-icon
      [icon]="loading ? SpinnerIcon : PaperPlaneIcon"
      [animation]="loading ? 'spin' : undefined"
    ></fa-icon>
    Invia Email
  </button>

  @if(hasResult){
  <div
    class="alert text-center"
    [class.alert-success]="hasResult.success"
    [class.alert-danger]="!hasResult.success"
  >
    {{ hasResult.message }}
  </div>
  }
</form>
} @case (1){
<form
  [formGroup]="checkCodeForm"
  (ngSubmit)="hasResult = null; onCheckCode()"
  class="d-flex flex-column gap-3"
>
  <div class="gap-2">
    <p class="text-primary fw-light">
      Abbiamo inviato un codice di 5 cifre all'indirizzo email
      <span class="fw-bold">{{ sendEmailForm.controls['email'].value }}</span>.
    </p>
    <p class="text-primary fw-light">
      Inserisci il codice ricevuto per procedere, il codice non risulterà più
      valido tra
      <span class="fw-bold"
        >{{ codeValiditySeconds * 1000 | date:'m:ss' }}</span
      >
    </p>
  </div>

  <code-input
    #codeInput
    [isCodeHidden]="false"
    [codeLength]="5"
    (codeChanged)="onCodeChanged($event)"
    (codeCompleted)="submitCodeButton.focus()"
  >
  </code-input>

  <div class="text-center mt-4">
    <a class="text-center text-primary fw-semibold" (click)="onResendCode()"
      >Reinvia codice @if(sendingNewCode){
      <fa-icon [icon]="SpinnerIcon" [animation]="'spin'"></fa-icon>
      }
    </a>
  </div>

  <button
    type="submit"
    #submitCodeButton
    class="btn btn-secondary btn-lg w-100"
    [disabled]="checkCodeForm.invalid"
  >
    <fa-icon
      [icon]="loading ? SpinnerIcon : CheckIcon"
      [animation]="loading ? 'spin' : undefined"
    ></fa-icon>
    Verifica
  </button>

  @if(hasResult){
  <div
    class="alert text-center"
    [class.alert-success]="hasResult.success"
    [class.alert-danger]="!hasResult.success"
  >
    {{ hasResult.message }}
  </div>
  }
</form>
} @case (2){
<form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="hasResult = null; onResetPassword()"
  class="d-flex flex-column gap-3"
>
  <p class="text-primary fw-light">
    Inserisci la nuova password per il tuo account
  </p>

  <div class="mb-3">
    <label for="password" class="form-label fw-semibold text-primary"
      >Nuova Password</label
    >
    <input
      type="password"
      class="form-control custom-input"
      placeholder="Nuova Password"
      formControlName="newPassword"
    />
  </div>

  <div class="mb-4">
    <label for="confirmPassword" class="form-label fw-semibold text-primary"
      >Conferma Password</label
    >
    <input
      type="password"
      class="form-control custom-input"
      placeholder="Conferma Password"
      formControlName="confirmPassword"
    />
  </div>

  <button
    type="submit"
    #submitCodeButton
    class="btn btn-secondary btn-lg w-100"
    [disabled]="checkCodeForm.invalid"
  >
    <fa-icon
      [icon]="loading ? SpinnerIcon : CheckIcon"
      [animation]="loading ? 'spin' : undefined"
    ></fa-icon>
    Reimposta Password
  </button>
</form>
} }
<a
  routerLink=""
  class="d-block text-center mt-4 text-primary fw-semibold text-primary"
  >Torna al Login</a
>
