:host {
  width: 75%;
}

code-input {
  --item-spacing: 10px;
  --item-border: none;
  --item-border-has-value: none;
  --item-border-bottom-has-value: 2px solid var(--bs-primary);
  --item-border-focused: none;
  --item-shadow-focused: none;
  --item-border-radius: 0px;
  --color: var(--bs-primary);
  --item-font-weight: 700;
  font-size: 1.5em;
}
