.event-card.comunicazione {
  border-left: 5px solid var(--bs-info);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.attachment-badge {
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid var(--bs-primary);
  background-color: var(--bs-primary-subtle);
  color: var(--bs-primary);
  &:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
}