@import '../../../../styles.scss';

.extra-small {
    font-size: 0.75rem;
}

.input-group-text {
    border-color: #f0f0f0;
}

input.form-control:focus, select.form-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}
