#dayBoxesContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.day-box {
  aspect-ratio: 1;
  background-color: #c2d9ff;
  border-radius: var(--bs-border-radius-lg);
  transition: background-color 0.2s ease;
  padding: 2%;

  &:hover {
    cursor: pointer;
    background-color: #9bbff8;
  }
  &.selected {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
  }
}

#calendarDayDetailCard {
  &.no-date-selected {
    border: none;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.event-card {
  border-left: 5px solid var(--bs-primary);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  &.test {
    border-left: 5px solid var(--bs-danger);
  }
}
