#dayBoxesContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.day-box {
  aspect-ratio: 1 / 0.8;
  background-color: color-mix(in srgb, var(--bs-primary) 20%, white);
  border-radius: var(--bs-border-radius-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  transition: background-color 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--bs-primary) 50%, white);
  }
  &.selected {
    background-color: var(--bs-secondary);
    outline: 1px solid var(--bs-dark);
    color: var(--bs-dark);
  }
}

#calendarDayDetailCard {
  &.no-date-selected {
    border: none;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
