.toast-container {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1200;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
}

ngb-toast {
  pointer-events: auto;
  min-width: 300px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {
  ngb-toast {
    width: 300px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

ngb-toast:not(:last-child) {
  margin-bottom: 0.5rem;
}
