.cardLink,
.cardValue,
.cardDescription {
  color: var(--bs-dark);
}

.linkCard {
  &.alert {
    background-color: #ffe8d3;
    border: none;
    color: #7f3900 !important;

    .cardLink,
    .cardValue,
    .cardDescription {
      color: #7f3900 !important;
    }
  }
}

.cardDescription {
  font-size: 1.2rem;
}

.actionButton {
  padding: 0.5rem 1rem;
}

#startWorkingCard {
  background-color: #ebf0ff;
}

.communicationCard {
  &:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }
}
