<div class="d-flex flex-row align-items-center gap-2">
  <span class="dot"></span>
  <span>Docente</span>
</div>
<h5 class="fw-medium my-2">
  {{ authService.user?.firstName }} {{ authService.user?.lastName }}
</h5>
<hr />
<div routerLink="/t/profilo" (click)="onItemClick()" class="w-100 link rounded-syllex btn text-start">
  Profilo
</div>
<div
  (click)="onReportBug(); onItemClick()"
  class="w-100 mt-4 link rounded-syllex btn text-start"
>
  Segnala un bug
</div>
<div
  class="w-100 link rounded-syllex btn text-start logout"
  (click)="onLogout(); onItemClick()"
>
  Logout
</div>
