:host {
  width: 75%;
}

@media (max-width: 768px) {
  :host {
    width: 80%;
  }
}

@media (max-width: 576px) {
  :host {
    width: 90%;
  }
}
code-input {
  --item-spacing: 10px;
  --item-border: none;
  --item-border-has-value: none;
  --item-border-bottom-has-value: 2px solid var(--bs-primary);
  --item-border-focused: none;
  --item-shadow-focused: none;
  --item-border-radius: 0px;
  --color: var(--bs-primary);
  --item-font-weight: 700;
  font-size: 1.5em;
}

.password-requirements {
  display: flex;
  flex-direction: column;

  .requirement {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--bs-primary);

    fa-icon {
      opacity: 0.3;
      transition:
        opacity 0.3s,
        color 0.3s;
    }
    &.valid {
      opacity: 1;

      fa-icon {
        opacity: 1;
        color: var(--bs-success);
      }
    }
  }
}
