<form
  [formGroup]="loginForm"
  (ngSubmit)="isChallenge ? onConfirmChallenge() : onSingIn()"
  class="d-flex flex-column gap-3"
>
  <h3 class="text-dark">{{ isChallenge ? 'Attivazione Account' : 'Bentornato' }}</h3>
  <div [hidden]="isChallenge">
    <label for="email" class="form-label text-dark">Email</label>
    <input
      type="text"
      class="form-control custom-input"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password" class="form-label text-dark">{{ isChallenge ? 'Nuova Password' : 'Password' }}</label>
    <input
      formControlName="password"
      type="password"
      class="form-control custom-input"
      placeholder="Password"
    />
    @if (isChallenge) {
      <div class="form-text small opacity-50">Scegli una password sicura di almeno 8 caratteri.</div>
    }
  </div>
  @if (!isChallenge) {
    <div class="text-end mb-4">
      <a href="#" class="text-dark fw-semibold" routerLink="/password-reset"
        >Hai dimenticato la password?</a
      >
    </div>
  }
  <button
    type="submit"
    class="btn btn-gradient-primary btn-lg w-100"
    [disabled]="loginForm.invalid || loading"
  >
    <fa-icon
      [icon]="loading ? SpinnerIcon : LoginIcon"
      [animation]="loading ? 'spin' : undefined"
    ></fa-icon>
    {{ isChallenge ? 'Conferma e Accedi' : 'Login' }}
  </button>
  @if(hasResult){
  <div
    class="alert text-center mt-4"
    [class.alert-success]="hasResult.success"
    [class.alert-danger]="!hasResult.success"
  >
    {{ hasResult.message }}
  </div>
  }
</form>
