<div class="w-100 dvh-100 d-flex flex-row">
  @if (showLoading()) {
  <div id="loadingOverlay" animate.enter="fade-in">
    <fa-icon [icon]="SpinnerIcon" [animation]="'spin'" size="3x"></fa-icon>
    <h2>
      Carico i dati di
      <span class="fw-bold">{{ materia.materiaSelected()?.name }}</span>
    </h2>
  </div>
  } @if (!showLoading()) {
  <app-sidebar></app-sidebar>
  <div id="content" class="flex-fill overflow-hidden">
    <div class="container h-100 d-flex flex-column">
      <app-nav></app-nav>
      <div class="flex-fill overflow-auto">
        <div
          class="py-4 container-fluid"
          [@routeAnimation]="getRouteAnimationState()"
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  }
</div>
