.classBadge {
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.813rem;
  color: var(--bs-primary);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--bs-gray-400);
  }

  &.selected {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
}
