.classBadge {
  cursor: pointer;
  background-color: var(--bs-gray-300);
  color: var(--bs-gray-700);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--bs-gray-400);
  }

  &.selected {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
  }
}
