.mainValue {
  font-size: 3rem;
  color: var(--bs-dark);
  font-weight: bold;
}

.reduced {
  font-size: 1.5rem;
  color: var(--bs-muted);
  font-weight: normal;
  opacity: 0.5;
}

.cardValue {
  font-size: 3rem;
  font-weight: bold;
}

.cardDescription {
  font-size: 1.2rem;
}
