<app-syllex-page-header
  [title]="'Banca Domande'"
  [description]="'Qui puoi trovare tutte le domande con cui comporre i test di ' + (materiaService.materiaSelected()?.name || '') + '.'"
>
  <app-syllex-button
    [props]="{
          label: 'Crea Domanda',
          variant: 'secondary',
          size: 'large'
        }"
    routerLink="/t/create-question"
  />
</app-syllex-page-header>

<div class="d-flex justify-content-between">
  <app-syllex-tab-filter
    class="mb-4"
    [options]="tabOptions"
    [value]="ActiveTab()"
    (valueChange)="onTabChange($any($event))"
  />
</div>
<section
  tourAnchor="banca_filters"
  class="d-flex gap-3 justify-content-between align-items-center"
>
  <div class="w-75">
    <app-questions-search-filters
      class="flex-grow-1"
      (filtersChanged)="onFiltersChanged($event)"
    />
  </div>

  <app-view-type-toggle
    tourAnchor="banca_toggle"
    [viewType]="ViewType"
    [pageKey]="'banca'"
    (viewTypeChange)="onChangeViewType($event)"
  />
</section>
@if (ViewType === 'table') {
<div class="mt-4">
  <app-question-table
    [questions]="Questions()"
    (removeMe)="onDeleteQuestion($event)"
  />
</div>
} @else {
<div class="questions-masonry mt-4">
  @for(question of Questions(); track question._id; let last = $last; let i =
  $index) {
  <div class="questions-masonry-item">
    <div
      app-question-card
      [question]="question"
      mode="banca"
      (removeMe)="onDeleteQuestion($event)"
    ></div>
  </div>
  }
</div>
} @if (CollectionSize() > PageSize()) {
<div
  class="mt-4 d-flex justify-content-end gap-2 align-items-center mb-5"
  tourAnchor="banca_pagination"
>
  <app-syllex-pagination
    [collectionSize]="CollectionSize()"
    [page]="Page()"
    [pageSize]="PageSize()"
    (pageChange)="Page.set($event)"
  />
</div>
}
