:host {
  display: block;
}

.header-actions {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-wrap: nowrap;
  padding-bottom: 0.5rem;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    justify-content: flex-end;
    padding-bottom: 0;
  }
}
