<div class="offcanvas-body">
  <section class="d-flex flex-column gap-4">
    <section class="form-section">
      <label class="fw-semibold fs-5 text-dark mb-3"
        >Che tipo di {{ type() == 'questions' ? 'domande' : 'materiale' }} vuoi
        creare?</label
      >
      <app-type-selector
        [options]="types()"
        [(selectedValue)]="selectedType"
        [direction]="'row'"
        [showDescription]="true"
      ></app-type-selector>
    </section>
    <section class="form-section">
      <label class="fw-semibold fs-5 text-dark mb-3"
        >Su che argomento/i di {{ materiaService.materiaSelected.value.label }}
        vuoi che si concentri l'AI?</label
      >
      <div class="d-flex flex-row align-items-center gap-3">
        @for(t of topicService.topics; track $index) {
        <button
          class="btn rounded-pill h3 topicBtn"
          [class.selected]="isTopicSelected(t)"
          (click)="onToggleTopic(t)"
        >
          {{t}}
        </button>
        }
      </div>
    </section>

    <section class="form-section">
      <label class="fw-semibold fs-5 text-dark mb-3"
        >Se vuoi puoi specificare uno o più file dalle tue risorse a supporto
        della generazione</label
      >
      <app-materiali-selector></app-materiali-selector>
    </section>
    <section class="form-section">
      <label class="fw-semibold fs-5 text-dark mb-3"
        >Aggiungi dettagli utili per indirizzare meglio la generazione</label
      >
      <textarea
        class="form-control custom-input"
        rows="4"
        [placeholder]="type() == 'questions' ? 'Ad esempio: argomento specifico, difficoltà, specifiche delle domande...' : 'Ad esempio: stile, tono di voce, punti chiave da trattare...'"
      ></textarea>
    </section>
    <div class="text-center">
      <button class="btn btn-lg ai" [disabled]="!selectedType()">
        <fa-icon [icon]="SparklesIcon" class="me-2"></fa-icon>
        Genera {{ getSelectedTypeName() }}
      </button>
    </div>
  </section>
</div>
