.classBadge,
#infiniteButton {
  background-color: transparent;
  outline: 1px solid var(--bs-primary);
  color: var(--bs-primary);

  &:hover {
    cursor: pointer;
    background-color: var(--bs-primary);
    color: white;
  }
  &.selected {
    background-color: var(--bs-primary);
    color: white;
  }
}
