:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 250px;
}
.sidebarRoute {
  background-color: #94b0fd72;
  width: 100%;
  color: var(--bs-dark);
  padding: 0.65rem 1.25rem;
  transition: all 0.3s ease;
  &:hover,
  &.active {
    cursor: pointer;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    font-weight: bold;
  }
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

#bookIcon {
  position: absolute;
  font-size: 5rem;
  opacity: 0.1;
  top: 0px;
  right: -30px;
  z-index: 0;
}

#sparkleIcon {
  position: absolute;
  font-size: 3rem;
  opacity: 0.2;
  top: -10px;
  right: -10px;
}

.materiaBtn {
  background-color: #6e7a5f2b;
  border: none;
  &.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
  &:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
}
