@media (max-width: 768px) {
  :host {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    height: 100dvh;
  }
}

.sidebarRoute {
  width: 100%;
  border-radius: 8px;
  padding: 0.65rem 1.25rem;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-weight: 300;
  routeLabel {
    color: var(--bs-dark);
  }
  fa-icon {
    color: var(--bs-primary);
  }
  &:hover,
  &.active {
    cursor: pointer;
    background-color: var(--bs-primary);
    color: var(--bs-white);
    font-weight: bold;
    color: white;
    fa-icon {
      color: var(--bs-white);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

#bookIcon {
  position: absolute;
  font-size: 5rem;
  opacity: 0.1;
  top: 0px;
  right: -30px;
  z-index: 0;
}

#sparkleIcon {
  position: absolute;
  font-size: 3rem;
  opacity: 0.2;
  top: -10px;
  right: -5px;
}

.materiaBtn {
  background-color: #6e7a5f2b;
  border: none;
  &.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
  &:hover {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
}
