<div class="h-100 rounded-5">
  <div class="w-100 p-4 d-flex flex-column h-100 rounded-4">
    <div
      class="rounded-3 bg-dark text-light p-3 d-flex flex-column justify-content-center fw-bold"
    >
      <fa-icon [icon]="BookIcon" [size]="'lg'"></fa-icon>
      <h4 class="fw-bold mb-0">Scienze Nautiche</h4>
    </div>
    <hr />
    <div id="mainRoutes" class="d-flex flex-column gap-2 flex-fill">
      @for(route of mainRoutes; track $index){
      <div
        class="sidebarRoute w-100 rounded-3 gap-2 d-flex align-items-center"
        [routerLink]="route.path"
        routerLinkActive="active"
      >
        <fa-icon [icon]="route.icon"></fa-icon>
        {{route.label}}
      </div>
      }
      <div
        class="rounded-3 ai d-flex flex-column justify-content-center fw-bold p-3 rouneded-4"
      >
        <fa-icon [icon]="SparklesIcon"></fa-icon>
        <h5 class="fw-bold mb-0">Laboratorio AI</h5>
      </div>
    </div>
  </div>
</div>
