:host {
  width: 250px;
}
.sidebarRoute {
  background-color: #5883f9;
  width: 100%;
  color: white;
  padding: 0.65rem 1.25rem;
  transition: all 0.3s ease;
  &:hover,
  &.active {
    cursor: pointer;
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-weight: bold;
  }
}

#logoutButton {
  background-color: rgb(255, 192, 192);
  color: var(--bs-danger);
  border: 1px solid var(--bs-danger);
  &:hover {
    background-color: var(--bs-danger);
    color: white;
    cursor: pointer;
  }
}
