:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 250px;
}
.sidebarRoute {
  background-color: #94b0fd72;
  width: 100%;
  color: var(--bs-dark);
  padding: 0.65rem 1.25rem;
  transition: all 0.3s ease;
  &:hover,
  &.active {
    cursor: pointer;
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
    font-weight: bold;
  }
}

#logoutButton {
  background-color: rgb(255, 192, 192);
  color: var(--bs-danger);
  border: 1px solid var(--bs-danger);
  &:hover {
    background-color: var(--bs-danger);
    color: white;
    cursor: pointer;
  }
}
