.folder-card,
.materiale-card {
  &:hover {
    z-index: 9999;
    cursor: pointer;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(var(--bs-primary-rgb), 0.1);
  }

  &.selected {
    border: 2px solid #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
  }
}

.highlight {
  background-color: #ffeb3b;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

::ng-deep .circle-btn.dropdown-toggle::after {
  display: none;
}
