.folder-card,
.materiale-card {
  border: 1px solid #dee2e6;
  &:hover {
    z-index: 9999;
    cursor: pointer;
    background-color: #c2d9ff40;
  }

  &.selected {
    border: 2px solid #0d6efd !important;
  }
}

.highlight {
  background-color: #ffeb3b;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

::ng-deep .circle-btn.dropdown-toggle::after {
  display: none;
}
