<div
  class="card h-100"
  [class]="isFolder ? 'folder-card' : 'materiale-card'"
  [class.selected]="isSelected"
  (dblclick)="requestOpenItem()"
  (click)="selectItem($event)"
>
  <div class="card-body">
    <div
      class="d-flex flex-row align-items-center h-100 justify-content-center"
    >
      @if (isAIGenerated) {
      <fa-icon
        [icon]="RobotIcon"
        class="me-3"
        style="color: #9664c8"
        size="2x"
      ></fa-icon>
      } @else {
      <fa-icon
        [icon]="icon"
        class="me-3"
        size="2x"
        [style.color]="iconColor"
      ></fa-icon>

      }
      <div
        class="d-flex flex-column flex-fill justify-content-center text-truncate"
      >
        <p
          class="card-title mb-0 text-truncate"
          [class.highlight]="highlightedItemId === item._id"
        >
          {{ item.name }}
        </p>
        @if(isFolder){
        <small class="text-muted"
          >{{ folderContentLength }} element{{ folderContentLength !== 1 ? 'i' :
          'o' }}</small
        >
        }
      </div>
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-light circle-btn"
          (click)="$event.stopPropagation()"
          ngbDropdownToggle
        >
          <fa-icon [icon]="ThreeDotsIcon"></fa-icon>
        </button>
        <div ngbDropdownMenu>
          <app-materiale-contextual-menu
            [item]="item"
            (renameItem)="renameItem.emit($event)"
            (deleteItem)="deleteItem.emit()"
          ></app-materiale-contextual-menu>
        </div>
      </div>
    </div>
  </div>
</div>
