<div
  class="bg-dark w-100 py-3 d-flex flex-row align-items-center container mt-4 gap-1 rounded-4"
>
  <img
    src="/images/logo_white.png"
    alt="Syllex Logo"
    height="40"
    class="mx-3"
    style="opacity: 0.5; cursor: pointer"
    routerLink="/t/dashboard"
  />
  <div class="flex-fill d-flex flex-row align-items-center gap-3 pe-4">
    <span class="text-white"
      >{{ now | date: 'dd MMMM, HH:mm' | titlecase }}
    </span>
    <div class="flex-fill">
      <input
        type="text"
        class="form-control w-25 custom-input"
        placeholder="Search..."
      />
    </div>

    <div ngbDropdown class="d-inline-block">
      <div
        id="dropdownBasic1"
        ngbDropdownToggle
        style="cursor: pointer"
        class="d-flex flex-row align-items-center gap-2 btn btn-dark"
      >
        <p class="text-white mb-0 fw-bold">{{"Mario Rossi"}}</p>
        <a
          class="d-flex align-items-center justify-content-center text-white p-0"
        >
          <fa-icon [icon]="UserProfileIcon" [size]="'xl'"></fa-icon>
        </a>
      </div>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Profilo</button>
        <button ngbDropdownItem>Impostazioni</button>
        <button ngbDropdownItem class="text-danger" (click)="onLogout()">
          <fa-icon [icon]="LogoutIcon"></fa-icon> Logout
        </button>
      </div>
    </div>
  </div>
</div>
