<button ngbDropdownItem [routerLink]="'/t/tests/edit/' + test._id">
  Modifica
</button>
@if(['bozza', 'archiviato'].includes(test.status!)) {
<button ngbDropdownItem>Pubblica</button>
}
<button ngbDropdownItem (click)="duplicate.emit(test._id)">Duplica</button>
<button ngbDropdownItem (click)="onRequestAssignToClass()">Assegna</button>
<div class="dropdown-divider"></div>
<button
  ngbDropdownItem
  class="text-danger"
  confirmAction
  [confirmMessage]="'Sei sicuro di voler eliminare ' + test.name + '?'"
  confirmTitle="Conferma eliminazione del Test"
  (confirmed)="delete.emit(test._id)"
>
  Elimina
</button>
