.card {
  overflow: hidden;
  .card-body {
    z-index: 1;
  }

  &.has-pending-corrections {
    background-color: #ffe8d3 !important;
  }
}

.circle-btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#view-test-button {
  background-color: var(--bs-primary);
  color: white;
  &:hover {
    background-color: color-mix(in srgb, var(--bs-primary) 90%, black);
  }
  &.has-pending-corrections {
    background-color: #ffb861;
    color: var(--bs-dark);
    &:hover {
      background-color: #ffc793;
    }
  }
}

::ng-deep .circle-btn.dropdown-toggle::after {
  display: none;
}
