<form [formGroup]="genAiQuestionForm" (ngSubmit)="onGenerate()">
  <div class="offcanvas-body dvh-100 overflow-scroll p-4">
    <div class="h-100 d-flex flex-column gap-3 justify-content-between">
      <section class="form-section">
        <app-type-selector
          [options]="questionTypeOptions"
          [(selectedValue)]="selectedType"
          (typeSelected)="onSelectQuestionType($event)"
          [direction]="'column'"
        ></app-type-selector>
      </section>

      <section class="form-section">
        <label class="form-label text-dark">Argomento</label>
        <select
          class="form-select mb-4 custom-input w-auto"
          formControlName="topicId"
          aria-label="Seleziona argomento"
        >
          <option value="" disabled selected>Seleziona argomento</option>
          @for(topic of materiaService.materiaSelected()?.topics; track
          topic._id) {
          <option [value]="topic._id">{{ topic.name }}</option>
          }
        </select>

        <div class="row g-3 mb-4">
          <div class="col-6">
            <label class="form-label text-dark">Lingua</label>
            <select
              class="form-select custom-input"
              formControlName="language"
              aria-label="Seleziona lingua"
            >
              <option value="it">Italiano</option>
              <option value="en">English</option>
              <option value="es">Español</option>
              <option value="fr">Français</option>
              <option value="de">Deutsch</option>
            </select>
          </div>
          <div class="col-6">
            <label class="form-label text-dark">Difficoltà</label>
            <select
              class="form-select custom-input"
              formControlName="difficulty"
              aria-label="Seleziona difficoltà"
            >
              <option [value]="1">Facile</option>
              <option [value]="2">Media</option>
              <option [value]="3">Difficile</option>
            </select>
          </div>
        </div>

        @if (IsMultipleChoice()) {
        <label class="form-label text-dark">Numero di alternative</label>
        <input
          type="number"
          class="form-control mb-4 custom-input"
          formControlName="numberOfAlternatives"
          min="2"
          max="8"
          aria-label="Numero di alternative"
        />
        }

        <label class="form-label text-dark">Istruzioni aggiuntive</label>
        <textarea
          class="form-control mb-4 custom-input"
          formControlName="instructions"
          rows="5"
          style="resize: none"
          placeholder="Fornisci dettagli aggiuntivi per la domanda in merito allo stile, al contesto o ad altri aspetti rilevanti."
        ></textarea>
      </section>

      <section class="form-section">
        <app-materiali-selector></app-materiali-selector>
      </section>

      <section class="flex-fill d-flex flex-column">
        <button
          class="btn btn-lg w-100 ai mb-4 py-3"
          [disabled]="IsLoading() || genAiQuestionForm.invalid"
          type="submit"
        >
          <fa-icon
            [icon]="IsLoading() ? SpinnerIcon : SparklesIcon"
            class="me-2"
            [animation]="IsLoading() ? 'spin' : undefined"
          ></fa-icon>
          Genera Domanda
        </button>
      </section>
    </div>
  </div>
</form>
