.card {
  border: none !important;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.01);
}

.card-celeste-light {
  background-color: #f6f9fe !important;
}

.card-lime-light {
  background-color: #f7fee7 !important;
}
