.section-link {
  color: var(--bs-dark);
  text-align: left;
  transition: all 0.2s ease;
  border: none;

  &:hover {
    background-color: #c2d9ff;
    transform: translateX(4px);
  }

  &.active {
    background-color: #c2d9ff;
    font-weight: 600;
  }

  fa-icon {
    margin-right: 0.5rem;
  }
}
