<ng-container *transloco="let t; read: 'materiali.menu'">
<small class="dropdown-header">{{ item.name }}</small>
<small class="dropdown-header"
  >{{ t('created_at', {date: (item.createdAt | date:'short') }) }}</small
>
<button ngbDropdownItem (click)="onRequestRenameItem()">{{ t('rename') }}</button>
@if(item.type !== 'folder') {
<button ngbDropdownItem (click)="onRequestViewItem()">{{ t('view') }}</button>
@if (isPptx) {
<button ngbDropdownItem (click)="onRequestPresent()">{{ t('present') }}</button>
}
<button ngbDropdownItem (click)="onRequestAssignToClass()">{{ t('assign') }}</button>
}
<div class="dropdown-divider"></div>
<button
  ngbDropdownItem
  class="text-danger"
  confirmAction
  [confirmMessage]="t('confirm_delete_msg', { name: item.name })"
  [confirmTitle]="t('confirm_delete_title')"
  (confirmed)="onRequestDeleteItem()"
>
  {{ t('delete') }}
</button>
</ng-container>
