.file-viewer-container {
  position: relative;
  width: 100%;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;

  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 10;
    color: var(--bs-primary);
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
