.admin-navbar-soft {
  background: #f6f7f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.03);
  color: #3931ce;
}
.icon-link {
  color: #3931ce;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s;
}
.icon-link:hover {
  color: #c9f321;
}
