<form [formGroup]="genAiQuestionForm" (ngSubmit)="onGenerate()">
  <div class="offcanvas-body dvh-100 overflow-scroll p-4">
    <div class="h-100 d-flex flex-column gap-2 justify-content-between">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="offcanvas.dismiss('Cross click')"
      ></button>

      <section class="form-section">
        <label class="form-label fw-semibold text-dark"
          >Tipologia di risposta:
          <span class="fw-normal">{{ selectedType() | titlecase }}</span></label
        >
        <app-type-selector
          [options]="questionTypeOptions"
          [(selectedValue)]="selectedType"
          (typeSelected)="onSelectQuestionType($event)"
          [direction]="'column'"
        ></app-type-selector>
      </section>
      <section class="form-section">
        <label class="form-label fw-semibold text-dark">Argomento</label>
        <select
          class="form-select mb-4 custom-input w-auto"
          formControlName="topic"
          aria-label="Seleziona argomento"
        >
          <option value="" disabled selected>Seleziona argomento</option>
          @for(topic of materiaService.materiaSelected()?.topics; track topic) {
          <option [value]="topic._id">{{ topic.name }}</option>
          }
        </select>

        <label class="form-label fw-semibold text-dark">Dettagli domanda</label>
        <textarea
          class="form-control mb-4 custom-input"
          formControlName="details"
          rows="8"
          style="resize: none"
          placeholder="Fornisci dettagli aggiuntivi per la domanda in merito allo stile, al contesto o ad altri aspetti rilevanti."
        ></textarea>
      </section>

      <section class="form-section">
        <label class="form-label fw-semibold text-dark mb-2">Allega file</label>
        <input
          type="file"
          class="form-control custom-input"
          (change)="onFileSelected($event)"
          accept=".txt,.pdf"
        />
        @if (attachedFileName) {
        <small class="text-muted mt-2"
          >File allegato: {{ attachedFileName }}</small
        >
        }
      </section>

      <section class="form-section">
        <app-materiali-selector></app-materiali-selector>
      </section>

      <section class="flex-fill d-flex flex-column">
        <button
          class="btn btn-lg w-100 ai mb-4 py-3"
          [disabled]="loading || genAiQuestionForm.invalid"
          type="submit"
          (click)="onGenerate()"
        >
          <fa-icon
            [icon]="loading ? SpinnerIcon : SparklesIcon"
            class="me-2"
            [animation]="loading ? 'spin' : undefined"
          ></fa-icon>
          Genera Domanda
        </button>
      </section>
    </div>
  </div>
</form>
