<form
  [formGroup]="loginForm"
  (ngSubmit)="onSingIn()"
  class="d-flex flex-column gap-3"
>
  <h3 class="text-dark">Bentornato</h3>
  <div>
    <label for="email" class="form-label text-dark">Email</label>
    <input
      type="text"
      class="form-control custom-input"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div>
    <label for="password" class="form-label text-dark">Password</label>
    <input
      formControlName="password"
      type="password"
      class="form-control custom-input"
      placeholder="Password"
    />
  </div>
  <div class="text-end mb-4">
    <a href="#" class="text-dark fw-semibold" routerLink="/password-reset"
      >Hai dimenticato la password?</a
    >
  </div>
  <button
    type="submit"
    class="btn btn-gradient-primary btn-lg w-100"
    [disabled]="loginForm.invalid || loading"
  >
    <fa-icon
      [icon]="loading ? SpinnerIcon : LoginIcon"
      [animation]="loading ? 'spin' : undefined"
    ></fa-icon>
    Login
  </button>
  @if(hasResult){
  <div
    class="alert text-center mt-4"
    [class.alert-success]="hasResult.success"
    [class.alert-danger]="!hasResult.success"
  >
    {{ hasResult.message }}
  </div>
  }
</form>
