<div class="w-100 dvh-100 d-flex flex-row overflow-hidden">
  <app-admin-sidebar></app-admin-sidebar>

  <div id="content" class="flex-fill d-flex flex-column h-100">
    <div class="container pt-4">
      <app-admin-navbar></app-admin-navbar>
    </div>

    <div class="flex-fill overflow-auto d-flex flex-column">
      <div
        class="container py-4 flex-grow-1 d-flex flex-column"
        style="min-height: 0; view-transition-name: admin-content"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
