/* Font Family: Figtree */
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree/static/Figtree-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

$primary: #3931ce;
$secondary: #c9f321;
$info: #0dcaf0;
$success: #8aff8a;
$warning: #ffbe55;
$danger: #ff3333;
$light: #f8f9fa;
$dark: #262626;
$min-contrast-ratio: 4.5;
$font-size-base: 0.9rem;
$enable-gradients: false;
$font-family-sans-serif: "Figtree", sans-serif;
$border-radius: 0.75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.9rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

$btn-font-weight: 500;
$btn-font-size: 0.813rem;

$btn-padding-y: 0.575rem !default;
$btn-padding-x: 1rem !default;

$card-border-radius: $border-radius-xl;

$syllex-radius: 8px;
$btn-border-radius: $syllex-radius;
$btn-border-radius-sm: $syllex-radius;
$btn-border-radius-lg: $syllex-radius;
$dropdown-border-radius: $syllex-radius;
$badge-border-radius: $syllex-radius;
$badge-padding-y: 0.85em !default;
$badge-padding-x: 0.85em !default;
$input-focus-box-shadow: none;
$select-focus-box-shadow: none;
$input-focus-border-color: $primary;
$form-select-focus-box-shadow: none;

@import "bootstrap/scss/bootstrap";

.dvh-100 {
  height: 100dvh;
}

body {
  background-color: #ffffff;
  letter-spacing: -0.01em;
}

// Riduci la spaziatura tra lettere su tutto
html,
body,
input,
textarea,
select,
button {
  letter-spacing: -0.01em;
}

#authRightColumn {
  background: url("/images/auth_right.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #authRightColumn {
    display: none;
  }
}

.custom-input {
  color: $primary;
  border-radius: 8px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  &::placeholder {
    color: rgba(var(--bs-primary-rgb), 0.4);
  }
  &:focus {
    color: $primary;
    border-color: darken($primary, 10%);
  }
  &.filter {
    border: rgb(127, 127, 127) 1px solid;
    color: rgb(127, 127, 127);
    &::placeholder {
      color: rgb(173, 173, 173);
    }
  }
}
.card {
  border-radius: 8px;
  border: none;
  box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);
}

.rounded-syllex {
  border-radius: 8px;
}

a {
  cursor: pointer;
}
.fa-stack-primary > svg > defs > mask > g > g > path {
  stroke: black;
  stroke-width: 100;
}

.status-pill {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 1;
  padding: 0;
  font-weight: bold;
  color: #fff;

  &.pubblicato {
    background-color: var(--bs-success);
  }
  &.bozza {
    background-color: var(--bs-warning);
  }
  &.archiviato {
    background-color: #d3d3d3;
  }
  &.public {
    background-color: var(--bs-success);
  }
  &.private {
    background-color: var(--bs-warning);
  }
  &.warning {
    background-color: var(--bs-warning);
  }
}

tr {
  cursor: pointer;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
}

textarea.custom-input {
  padding: 1rem;
}

.btn-gradient-secondary {
  background: linear-gradient(135deg, var(--bs-secondary) 0%, #dcffa7 100%);
  color: var(--bs-dark);
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, var(--bs-secondary) 0%, #b9ff4f 100%);
    color: var(--bs-dark);
  }
}

.btn-gradient-primary {
  background: linear-gradient(135deg, var(--bs-primary) 0%, #4e86ff 100%);
  color: white;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, var(--bs-primary) 0%, #3054a1 100%);
    color: white;
  }
}

.ai {
  background: linear-gradient(
    135deg,
    var(--bs-primary) 0%,
    color-mix(in srgb, var(--bs-primary) 70%, rgb(242, 242, 242)) 50%,
    color-mix(in srgb, var(--bs-primary) 90%, rgb(242, 242, 242)) 100%
  );
  color: white;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.8s ease;
  box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);

  &.not-selected {
    background: transparent;
    color: var(--bs-primary);
  }

  &.selected {
    background: linear-gradient(
      135deg,
      var(--bs-primary) 0%,
      color-mix(in srgb, var(--bs-primary) 70%, rgb(242, 242, 242)) 50%,
      color-mix(in srgb, var(--bs-primary) 90%, rgb(242, 242, 242)) 100%
    );
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    background: conic-gradient(
      from var(--angle),
      var(--bs-primary),
      color-mix(in srgb, var(--bs-primary) 70%, black),
      color-mix(in srgb, var(--bs-primary) 50%, white),
      #ffd700,
      var(--bs-primary)
    );
    border-radius: inherit;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.2s ease;
    animation: gradientRotate 2s linear infinite;
  }

  &:hover {
    box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);
    color: white;
    transform: translateY(-2px);

    &::before {
      opacity: 1;
    }
  }

  &:active {
    box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);
    transform: translateY(0);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
    box-shadow: 0 4px 15px 0 rgba(102, 126, 234, 0.2);

    &::before {
      display: none;
    }
  }
}

@keyframes gradientRotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

section {
  &.form-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 28px 8px rgba(224, 224, 224, 0.204);
  }
}

.background-icon {
  position: absolute;
  font-size: 10em;
  top: -15%;
  right: -10%;
  transform: translate(0, 0) !important;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.05);
  z-index: 0;
}

.inGridView {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.inTableView {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainValue {
  font-size: 3rem;
  color: var(--bs-dark);
  font-weight: bold;
}

.reduced {
  font-size: 1.5rem;
  color: var(--bs-muted);
  font-weight: normal;
  opacity: 0.5;
}

.cardValue {
  font-size: 4rem;
}

.icon-btn {
  padding-right: 23px;
  padding-left: 23px;
}

.cardDescription {
  font-size: 1.2rem;
}
.circle-btn {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typeCard {
  color: var(--bs-dark);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--bs-light);
  }

  &.selected {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);

    .typeIconWrapper {
      background-color: var(--bs-dark);
      color: white;
    }

    .materialTypeIcon {
      background-color: var(--bs-dark);
      color: white;
    }
  }
}

.typeIconWrapper {
  background-color: var(--bs-primary);
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: white;

  &.smallIcon {
    padding: 4px;
  }

  &.materialTypeIcon {
    background-color: var(--bs-primary);
    color: white;
    padding: 10px;
    border-radius: 15px;
  }
}

/* Offcanvas customizations */
.offcanvas-large {
  width: 600px !important;
  max-width: 90vw !important;
}

.toast-success {
  background-color: lighten($success, 20%);
  color: rgb(26, 94, 32);
}

.toast-error {
  background-color: lighten($danger, 20%);
  color: rgb(135, 12, 12);
}

.ellipsis-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis-1-lines {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
}

/* Hide scrollbars */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

.enter-animation {
  animation: slide-fade 0.5s;
}
@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* View Transitions API - Route animations */
::view-transition-old(teacher-content),
::view-transition-new(teacher-content) {
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(teacher-content) {
  animation-name: slide-fade-out;
}

::view-transition-new(teacher-content) {
  animation-name: slide-fade;
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
