/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
$primary: #375ec9;
$secondary: #d6ff79;
$info: #0dcaf0;
$success: #16ca76;
$warning: #eb9634;
$danger: #cf1729;
$light: #f8f9fa;
$dark: #1f3571;
$min-contrast-ratio: 4.5;
$font-size-base: 0.85rem;
$enable-gradients: false;
$font-family-sans-serif: "DM Sans", sans-serif;
$border-radius: 0.75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.9rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

$btn-font-weight: 700;
$card-border-radius: 1.5rem;

@import "bootstrap/scss/bootstrap";

.dvh-100 {
  height: 100dvh;
}

#authRightColumn {
  background: url("/images/auth_right.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #authRightColumn {
    display: none;
  }
}

.custom-input {
  border-bottom: 2px solid $primary;
  color: $primary;
  &::placeholder {
    color: rgba(var(--bs-primary-rgb), 0.4);
  }
  &:focus {
    color: $primary;
    border-color: darken($primary, 10%);
  }
}

a {
  cursor: pointer;
}
.fa-stack-primary > svg > defs > mask > g > g > path {
  stroke: black;
  stroke-width: 100;
}

.status-pill {
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  color: var(--bs-dark);
  font-weight: 600;
  &.pubblicato {
    background-color: #6ff68c;
  }

  &.bozza {
    background-color: #ffb861;
  }
  &.archiviato {
    background-color: #d3d3d3;
  }
}

tr {
  cursor: pointer;
}
