.folder-card,
.materiale-card {
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  &:hover {
    z-index: 10;
    cursor: pointer;
    filter: brightness(0.97);
  }

  &:active {
    cursor: grabbing;
  }

  &.selected {
    border: 2px solid #0d6efd !important;
    background-color: rgba(13, 110, 253, 0.05);
  }
}

.materiale-card {
  background-color: #f3f4f6;
}

.folder-card {
  background-color: #dbeafe;
}

.selection-checkbox {
  display: none !important;
}

.folder-card:hover .selection-checkbox,
.materiale-card:hover .selection-checkbox,
.folder-card.selected .selection-checkbox,
.materiale-card.selected .selection-checkbox {
  opacity: 1;
}

.highlight {
  background-color: #ffeb3b;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-weight: 600;
}

::ng-deep .circle-btn.dropdown-toggle::after {
  display: none;
}
