.card {
  color: var(--bs-dark);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--bs-light);
  }

  &.selected {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);

    .typeIconWrapper {
      background-color: var(--bs-dark);
      color: white;
    }

    .materialTypeIcon {
      background-color: var(--bs-dark);
      color: white;
    }
  }
}

.typeIconWrapper {
  background-color: var(--bs-primary);
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: white;

  &.smallIcon {
    padding: 4px;
  }

  &.materialTypeIcon {
    background-color: var(--bs-primary);
    color: white;
    padding: 10px;
    border-radius: 15px;
  }
}

.smallCard {
  .card-body {
    padding: 0.5rem;
  }
}
