#dayBoxesContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.day-box {
  aspect-ratio: 1 / 1.1;
  overflow: hidden;
  position: relative;
  background-color: #c2d9ff;
  border-radius: var(--bs-border-radius-lg);
  transition: background-color 0.2s ease;
  padding: 2%;

  &:hover {
    cursor: pointer;
    background-color: #9bbff8;
  }
  &.selected {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
  }

  .event-count {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.6rem;
    padding: 2px 5px;
    line-height: 1;
  }
}

#calendarDayDetailCard {
  &.no-date-selected {
    border: none;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
