.wrapper {
  position: relative;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: 99;

  .icons-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
  }

  .icon-wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    ::ng-deep fa-icon {
      display: flex !important;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      svg {
        display: block;
        width: 1.1em;
        height: 1.1em;
      }
    }
  }

  #selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: var(--bs-primary);
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
  }

  &.table-view {
    #selector {
      transform: translateX(0);
    }
    #table-icon {
      color: var(--bs-white);
    }
    #grid-icon {
      color: var(--bs-primary);
    }
  }

  &.grid-view {
    #selector {
      transform: translateX(40px);
    }
    #table-icon {
      color: var(--bs-primary);
    }
    #grid-icon {
      color: var(--bs-white);
    }
  }
}

