/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
$primary: #375ec9;
$secondary: #d6ff79;
$info: #0dcaf0;
$success: #16ca76;
$warning: #ebc634;
$danger: #cf1729;
$light: #f8f9fa;
$dark: #212529;
$min-contrast-ratio: 4.5;
$font-size-base: 0.85rem;
$enable-gradients: false;
$font-family-sans-serif: "DM Sans", sans-serif;
$border-radius: 0.75rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.9rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;
$border-radius-pill: 50rem;

$btn-font-weight: 700;

@import "bootstrap/scss/bootstrap";

.dvh-100 {
  height: 100dvh;
}

#authRightColumn {
  background: url("/images/auth_right.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  #authRightColumn {
    display: none;
  }
}

.custom-input {
  padding: 0.75rem 1rem;
  border-bottom: 2px solid $primary;
  background-color: rgba(var(--bs-primary-rgb), 0.05);
  color: $primary;
  &::placeholder {
    color: rgba(var(--bs-primary-rgb), 0.5);
  }
  &:focus {
    color: $primary;
    border-color: darken($primary, 10%);
  }
}

a {
  cursor: pointer;
}
