tbody > tr > td {
  color: var(--bs-dark);
  border: none;
  padding: 1rem;
}

thead > tr > th {
  color: var(--bs-dark);
  border: none;
  padding: 1rem;
}
tr {
  &:hover {
    cursor: pointer;
  }
}
