<button
  class="btn rounded-pill fw-normal d-inline-flex align-items-center justify-content-center gap-2 text-nowrap"
  [ngClass]="buttonClasses"
  [routerLink]="props.link"
  [disabled]="props.disabled"
  (click)="handleClick()"
  [routerLinkActive]="'active'"
>
  @if (props.leftIcon) {
  <fa-icon
    [icon]="props.leftIcon"
    [animation]="props.animation"
    [class.fa-spin]="props.animation === 'spin'"
  ></fa-icon>
  } {{ props.label | titlecase }} @if (props.rightIcon) {
  <fa-icon [icon]="props.rightIcon"></fa-icon>
  }
</button>
