

.table {
    thead th {
        font-size: 0.85rem;
        text-transform: uppercase;
        color: #6c757d;
        padding: 1.25rem 1rem;
        background-color: rgba( var(--bs-light-rgb), 0.5);
        border: none;
    }
    
    tbody td {
        padding: 1.25rem 1rem;
        border-color: rgba(0,0,0,0.03);
    }
}



:host ::ng-deep {
    .bg-opacity-10 {
        background-color: rgba(22, 101, 52, 0.1) !important;
    }
}
