<form [formGroup]="SearchForm" class="d-flex flex-column gap-2 mb-0 w-100" *transloco="let t; read: 'banca.filters'">
  <div class="d-flex flex-row flex-wrap gap-2 w-100">
    <div class="search-wrapper">
      <app-syllex-search-input
        [placeholder]="t('search_placeholder')"
        formControlName="searchTerm"
      />
    </div>

    <!-- Argomento -->
    <div class="select-wrapper">
      <app-syllex-select-input
        formControlName="topicId"
        [placeholder]="t('all_topics')"
        [options]="topicOptions()"
      />
    </div>

    <!-- Tipologia -->
    <div class="select-wrapper">
      <app-syllex-select-input
        formControlName="type"
        [placeholder]="t('type_placeholder')"
        [options]="typeOptions"
      />
    </div>

    <!-- Difficoltà -->
    <div class="select-wrapper">
      <app-syllex-select-input
        formControlName="difficulty"
        [placeholder]="t('difficulty_placeholder')"
        [options]="DifficultyOptions"
      />
    </div>
  </div>
</form>
