<form [formGroup]="SearchForm" class="d-flex flex-column gap-2 mb-0 w-100">
  <div class="d-flex flex-row flex-wrap gap-2 w-100">
    <div class="search-wrapper">
      <app-syllex-search-input
        placeholder="Cerca per testo della domanda..."
        formControlName="searchTerm"
      />
    </div>

    <!-- Argomento -->
    <div class="select-wrapper">
      <app-syllex-select-input
        formControlName="topicId"
        placeholder="Argomento"
        [options]="topicOptions()"
      />
    </div>

    <!-- Difficoltà -->
    <div class="select-wrapper">
      <app-syllex-select-input
        formControlName="difficulty"
        placeholder="Difficoltà"
        [options]="DifficultyOptions"
      />
    </div>
  </div>
</form>
