:host {
  display: block;
  container-type: inline-size;
}

.type-selector-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @container (min-width: 420px) {
    grid-template-columns: 1fr 1fr;
  }

  @container (min-width: 850px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
