<div class="type-selector-grid">
  @for (option of options(); track option.value) {
  <div
    class="rounded-lg syllexCard"
    [class.p-3]="size() !== 'small'"
    [class.p-2]="size() === 'small'"
    [class.smallCard]="size() === 'small'"
    (click)="onSelectType(option.value)"
    [class.selected]="selectedValue() === option.value"
  >
    <div class="p-2 d-flex flex-row align-items-center gap-2">
      <div class="d-flex flex-column flex-fill justify-content-start">
        @if (size() === 'small') {
        <span class="fw-semibold" style="font-size: 0.4rem"
          >{{ option.label }}</span
        >
        } @else {
        <h5 class="mb-0">{{ option.label }}</h5>
        @if (showDescription()) {
        <p class="mb-0 fw-light">{{ option.description }}</p>
        } }
      </div>

      <fa-icon [icon]="option.icon" [size]="'lg'"></fa-icon>
    </div>
  </div>
  }
</div>
