<form [formGroup]="searchForm" class="d-flex flex-row gap-3">
  <div class="flex-fill">
    <label for="search-term" class="form-label fw-semibold text-dark"
      >Testo nella domanda</label
    >
    <input
      type="text"
      class="form-control custom-input"
      placeholder="Cerca..."
      id="search-term"
      formControlName="searchTerm"
    />
  </div>
  <div>
    <label for="search-term" class="form-label fw-semibold text-dark"
      >Tipologia risposta</label
    >
    <select class="form-select custom-input" formControlName="type">
      <option value="">Tutte le tipologie</option>
      @for(type of ['scelta multipla', 'vero falso', 'risposta aperta']; track
      $index) {
      <option value="{{ type }}">{{ type | titlecase }}</option>
      }
    </select>
  </div>
  <div>
    <label for="search-term" class="form-label fw-semibold text-dark"
      >Argomento</label
    >
    <select class="form-select custom-input" formControlName="topicId">
      <option value="">Argomento</option>
      @for(topic of materiaService.materiaSelected()?.topics; track $index) {
      <option value="{{ topic._id }}">{{ topic.name | titlecase }}</option>
      }
    </select>
  </div>
  <div>
    <label for="search-term" class="form-label fw-semibold text-dark"
      >Policy di visualizzazione</label
    >
    <select class="form-select custom-input" formControlName="policy">
      <option value="">Policy</option>
      @for(type of ['pubblica', 'privata']; track $index) {
      <option value="{{ type }}">{{ type | titlecase }}</option>
      }
    </select>
  </div>
</form>
